body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.container {
  width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px 10px;
  border-radius: 4px;
}

.tab {
  border-bottom: 1px solid #ccc;
}

.content {
  padding: 20px 10px;
}

.content > li {
  display: none;
}

.content > .active {
  display: block;
}

.tab > li {
  float: left;
  cursor: pointer;
  color: #1c96de;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-bottom: none;
}

.tab > .active {
  border: 1px solid #ccc;
  border-bottom-color: #fff;
  border-radius: 4px 4px 0 0;
  color: #333;
  margin-bottom: -1px;
}